name: CI

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Show detected test files
        run: ./gradlew listTestFiles

      - name: Run tests + JaCoCo report
        run: ./gradlew clean test jacocoTestReport

      - name: Upload JaCoCo HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-html-report
          path: build/reports/jacoco/test/html

      - name: Upload JaCoCo XML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-xml-report
          path: build/reports/jacoco/test/jacocoTestReport.xml
