name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # checkout the code from the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # setup jdk 21
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      # make gradle wrapper executable
      - name: Make gradlew executable
        run: chmod +x ./gradlew

      # runs tests
      - name: Run tests
        run: ./gradlew test